    <div class="auth__content">
        <div class="auth__header">Авторизация</div>
        <form id="authForm" class="auth__form" onsubmit="return false">
            <div class="auth__inputs">
                <input class="auth__input" name="fullName" type="text" placeholder="ФИО">
                <input class="auth__input" name="nikName" type="text" placeholder="Ник">
            </div>
            <button id="authBtn" class="auth__button button">Войти</button>
        </form>
    </div>
