    <div class="popup__content">
        <div class="popup__header">Загрузка фото</div>
        <div class="popup__block">
            <div id="dropZone" class="popup__dropzone">
                <span class="popup__dropzone-text">перетащите фото сюда</span>
            </div>
            <div class="popup__buttons">
                <button id="cancel" class="popup__button popup__button--left button">Отмена</button>
                <button id="load" class="popup__button button">Загрузить</button>
            </div>
        </div>
    </div>
