<li class="messages__item message">
    <div class="message__img">
        <div class="user-pic" style="{{style}}">
        </div>
    </div>

    <div class="message__text-content">
        <div class="message__data">
            <div class="message__from">{{fullName}}</div>
            <div class="message__time">{{time}}</div>
        </div>
        <div class="message__text">{{text}}</div>
    </div>
</li>
