<div class="main-container">
  <div class="aside">
    <div class="aside__header">
      <div class="aside__img">
        <div id="asideUserPic" class="user-pic">
        </div>
      </div>
      <div id="asideUserName" class="aside__user-text">Добро пожаловать!</div>
    </div>

    <div class="aside__users">
      <div id="usersCount" class="aside__users-count">Участники</div>
      <ul id="usersList" class="aside__users-list users">
      </ul>
    </div>
  </div>

  <div class="content">
    <ul id="messageList" class="content__messages messages"></ul>

    <div class="footer">
      <div class="footer__input">
        <input id="messageInput" type="text" class="footer__input-input" placeholder="Введите сообщение">
      </div>
      <div class="footer__send">
        <button id="sendBtn" class="footer__send-button send-button button">Отправить</button>
      </div>
    </div>

  </div>
</div>

